Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity
WarningsAsErrors: ''
HeaderFilterRegex: 'Source/.*'
FormatStyle: file
